AWSTemplateFormatVersion: 2010-09-09

Description: |
  The AWS CloudFormation template for creating Cloudformation execution role to be used by
  Cloudformation Service to create application stack resources.
  This role is passed to the CloudFormation service by CodePipelineCrossAccountRole.

Parameters:
  ToolsAccountId:
    Description: Account ID of the tooling AWS Account that initiates deployments to this account.
    Type: String
    ConstraintDescription: Must be a valid AWS Account ID without hyphens.
    AllowedPattern: '\d{12}'
    MinLength: 12
    MaxLength: 12
  Stage:
    Type: String
    Description: Stage of the account we're deploying to.
    AllowedValues:
      - Beta
      - Prod
  KeyArn:
    Description: Provide the ARN of the KMS Key used to encrypt the S3 artifact bucket in the tooling account (DEV).
    Type: String
    ConstraintDescription: Must be a valid AWS ARN for a KMS Key in the tooling account (DEV).
    MinLength: 1

Resources:
    CloudFormationDeploymentRole:
        Type: AWS::IAM::Role
        Properties:
            RoleName: CloudFormationDeploymentRole
            AssumeRolePolicyDocument:
              Version: 2012-10-17
              Statement:
                - Effect: Allow
                  Principal:
                    Service: cloudformation.amazonaws.com
                  Action: sts:AssumeRole
    # CloudFormationDeploymentPolicy:
    #     Type: AWS::IAM::ManagedPolicy
    #     Properties:
    #       Description: Allows pipeline in tooling account to deploy CloudFormation resources into the target account.
    #       ManagedPolicyName: CloudFormationDeploymentPolicy
    #       Roles:
    #         - !Ref CloudFormationDeploymentRole
    #       PolicyDocument:
    #         Version: '2012-10-17'
    #         Statement:
    #           - Effect: Allow
    #             Action: iam:PassRole
    #             Resource: !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:role/CodePipelineCrossAccountRole